# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Vite build output
dist/
.cache/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Environment files
.env
.env.*
